.additional-goods {
  color: @base-color;
  .main-font();
}
.additional-goods__title {
  color: @mark-color;
}
.additional-goods__name {
  color: @further-color;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
.additional-goods__features {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.additional-goods__gift {
  padding-right: 20px;
  padding-left: 20px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-color: @grass-color;
}
.additional-goods__item {
  padding-right: 20px;
  padding-left: 20px;
}
