.advantages {
  padding-right: 20px;
  padding-left: 20px;
}
.advantages__list {
.list-reset();
}
.advantages__title {
  .caption();
}
.advantages__item {
  .primary();
  margin-bottom: 20px;
  padding-left: 80px;
}
