.catalog {
  .main-font();
  color: @base-color;
}
.catalog__title {
  .caption();
}
.catalog__add {
  color: @mark-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.catalog__more {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
