.page-footer__top {
  .content-wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 28px;
    padding-top: 27px;
    background-color: @white-color;
  }
}

.page-footer__top--colored {
  background-color: #f2f2f2;

  .content-wrapper {
    background-color: #f2f2f2;
  }
}

.page-footer__distributors {
  width: 140px;
  padding: 0;
  margin: 0;
  color: @mark-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  .main-font();
}

.page-footer__address {
  width: 140px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
}

.page-footer__map {
  height: 362px;
  background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@1x.png");
  background-position: 50% 136px, center -38px;
  background-repeat: no-repeat;
  background-size: 65px, 100%;
  background-color: #f2f1ec;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/map-pin.png"), url("../img/bg-map-mobile@2x.png");
  }
}

.page-footer__embed-map {
  width: 100%;
}

.page-footer__bottom {
  background-color: #f2f2f2;
}

.page-footer__logo {
  width: 128px;
  height: 24px;
}

.page-footer__link {
  display: block;
  padding-top: 35px;
  padding-bottom: 28px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

.page-footer__link[href] {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: @tablet-width) {
  .page-footer__distributors {
    width: 200px;
    font-size: 20px;
    line-height: 25px;
  }

  .page-footer__top .content-wrapper {
    padding-top: 63px;
    padding-right: 71px;
    padding-left: 71px;
    padding-bottom: 35px;
  }

  .page-footer__address {
    width: 160px;
    padding: 0;
    margin: 0;
    text-align: right;
    .primary-tablet();
    line-height: 20px;
  }

  .page-footer__city {
    line-height: 60px;
  }

  .page-footer__map {
    height: 396px;
    background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@1x.png");
    background-position: 50% 50%, center 0;
    background-color: pink;
    background-size: 120px, cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-pin.png"), url("../img/bg-map-tablet@2x.png");
    }
  }

  .page-footer__embed-map {
    height: 396px;
  }

  .page-footer__bottom .content-wrapper {
    display: flex;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 42px;
    padding-bottom: 40px;
  }

  .page-footer__copyright {
    margin-left: auto;
  }

  .page-footer__social {
    margin-top: -5px;
    border-bottom: none;
  }

  .page-footer__link {
    padding: 0;
    margin-right: 60px;
    border-bottom: none;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__top {
    position: relative;

    .content-wrapper {
      position: absolute;
      top: 95px;
      left: 60px;
      width: 570px;
      padding-right: 85px;
      padding-left: 76px;
      padding-top: 65px;
      padding-bottom: 57px;
      background-color: @white-color;
    }
  }

  .page-footer__address {
    text-align: left;
  }

  .page-footer__map {
    min-height: 399px;
    background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: 120px, cover;
    background-position: 930px 50%, center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/map-pin.png"), url("../img/bg-map-desktop@2x.png");
    }
  }

  .page-footer__embed-map {
    height: 399px;
  }

  .page-footer__bottom .content-wrapper {
    padding-right: 40px;
    padding-left: 40px;
  }

  .page-footer__link {
    margin-right: 315px;
  }
}
