.page-footer__distributors {
  color: @mark-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  .main-font();
}
.page-footer__address {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  font-family: "Arial", sans-serif;
}
