.promo {
  color: @white-color;
  .main-font();
  background-color: @grass-color;
}
.promo__title {
  font-size: 36px;
  line-height: 36px;
}
.promo__tagline {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
