.select-program {
  .main-font();
  font-size: 16px;
  line-height: 18px;
  color: @further-color;
  text-transform: uppercase;
  // background-color: pink;
}

.select-program__field {
  padding: 0;
}

.select-program__legend {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: @mark-color;
  .main-font();
}

.select-program__rubric {
  padding: 0;
  margin: 0;
  margin-bottom: 14px;
  background-color: plum;
}

.select-program__text {
  .main-font();
  padding: 12px 15px;
  font-size: 16px;
  line-height: 18px;
  color: @base-color;
  text-transform: uppercase;
}

.select-program__text--name {
  width: 229px;
}

.select-program__label--name {
  width: 51px;
}

.select-program__text--weight {
  width: 207px;
}

.select-program__label--weight {
  width: 77px;
  background-color: pink;
}

.select-program__label--age {
  width: 104px;
}

.select-program__text--age {
  width: 172px;
}

.select-program__text--email {
  width: 218px;
}

.select-program__label--email {
  // width: 52px;
}

.select-program__text--tel {
  width: 200px;
}

.select-program__label--tel {
  // width: 72px;
}

.select-program__text--comment {
  width: 280px;
}

@media (min-width: @tablet-width) {
  .select-program {
    .main-font();
    font-size: 20px;
    line-height: 20px;
  }

  .select-program__legend {
    font-size: 36px;
    line-height: 36px;
  }

  .select-program__text {
    .main-font();
    padding: 14px 19px;
    font-size: 20px;
    line-height: 20px;
  }

  .select-program__text--name {
    width: 567px;
  }

  .select-program__label--name {
    width: 63px;
  }

  .select-program__text--weight {
    width: 536px;
  }

  .select-program__label--weight {
    width: 90px;
    background-color: pink;
  }

  .select-program__label--age {
    width: 128px;
  }

  .select-program__text--age {
    width: 497px;
  }

  .select-program__text--email {
    width: 551px;
  }

  .select-program__label--email {
    width: 80px;
  }

  .select-program__text--tel {
    width: 535px;
  }

  .select-program__label--tel {
    width: 95px;
  }

  .select-program__text--comment {
    width: 631px;
  }

  .select-program__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .select-program__rubric-add {
    width: 284px;
  }

  .select-program__submit {
    width: 283px;
  }
}

@media (min-width: @desktop-width) {
  .select-program {
    display: flex;
    flex-wrap: wrap;
  }

  .select-program__field--information {
    width: 570px;
    margin-right: 80px;
  }

  .select-program__field--result {
    width: 570px;
  }

  .select-program__field--contacts {
    width: 1220px;
    background-color: tan;
    .select-program__rubric {
      width: 570px;
    }
  }

  .select-program__text--name {
    width: 506px;
  }

  .select-program__label--name {
    width: 63px;
  }

  .select-program__text--weight {
    width: 475px;
  }

  .select-program__label--weight {
    width: 90px;
    background-color: pink;
  }

  .select-program__label--age {
    width: 128px;
  }

  .select-program__text--age {
    width: 436px;
  }

  .select-program__text--email {
    width: 486px;
  }

  .select-program__label--email {
    width: 80px;
  }

  .select-program__text--tel {
    width: 472px;
  }

  .select-program__label--tel {
    width: 95px;
  }

  .select-program__text--comment {
    width: 1220px;
  }
}
