.slider {
  position: relative;
  padding-top: 33px;
  color: @mark-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  .main-font();
}

.slider__list {
  .list-reset();
}

.slider__item {
  display: none;
  margin-bottom: 30px;
  padding-bottom: 83px;

  &:nth-of-type(1) {
    display: block;
  }
}

.slider__picture {
  width: 100%;
}

.slider__controls {
  position: absolute;
  bottom: 34px;
  left: 22px;
  display: flex;
  width: 280px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.slider__toggle {
  display: none;
}

.slider__label {
  min-width: 40px;
}

.slider__switch {
  margin-right: 18px;
  margin-left: 16px;
}

@media (min-width: @tablet-width) {
  .slider {
    position: relative;
    background-color: @white-color;
    // background-color: pink;
  }

  .slider__item {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 116px;

    &:nth-of-type(1) {
      background-image: linear-gradient(@white-color 29%, #f2f2f2 29%, #f2f2f2);
    }

    &:nth-of-type(2) {
      background-image: linear-gradient(@white-color 35%, #eaeaea 35%, #eaeaea);
    }
  }

  .slider__picture {
    display: block;
    width: 677px;
    min-height: 517px;
    margin: 0 auto;
  }

  .slider__controls {
    position: absolute;
    left: 30px;
    bottom: 72px;
    width: 708px;
    padding-right: 0;
    padding-left: 0;
  }

  .slider__label {
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #b8b8b8;
  }

  .slider__switch {
    display: none;
  }

  .slider__range-filter {
    margin-right: 21px;
    margin-left: 21px;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    padding-top: 0;
  }

  .slider__controls {
    width: 570px;
    bottom: 70px;
    left: 86px;
  }

  .slider__item {
    padding-top: 0;
    padding-right: 8px;
    margin-bottom: 0;
    padding-bottom: 136px;

    &:nth-of-type(1) {
      background-image: linear-gradient(@white-color 30%, #f2f2f2 30%, #f2f2f2);
       // background-image: none;
    }

     &:nth-of-type(2) {
      background-image: linear-gradient(@white-color 30%, #eaeaea 30%, #eaeaea);
       // background-image: none;
    }
  }
}
