.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
  padding-bottom: 17px;
}

.social__btn {
  width: 22px;
}

.social__btn--inst {
  margin-left: 30px;
  margin-right: 40px;
  text-align: right;
}

.social__icon {
  fill: #666666;
}

@media (min-width: @tablet-width) {
  .social {
    min-width: 324px;
  }

  .social__btn--inst {
    margin-left: 37px;
    margin-right: 28px;
  }

  .social__icon--vk {
    width: 30px;
    height: 16px;
  }

  .social__icon--inst {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}
