.caption() {
  font-size: 36px;
  line-height: 60px;
  color: @mark-color;
  font-family: "Oswald", "Arial", sans-serif;
}
.primary() {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Arial", sans-serif;
  color: @base-color;
}
.list-reset() {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-font() {
  font-family: "Oswald", "Arial", sans-serif;
}
.special-font() {
  font-family: "OswaldMedium", "Arial", sans-serif;
}
